*.code-workspace

# Environment Variables
.env
.env.backup
.env.deploy

# Custom builds
build/custom-worker/Dockerfile
build/custom-nginx/Dockerfile
installation/docker-compose-custom.yml

# mounted volume
sites

development
!development/README.md
deploy_key
deploy_key.pub

# Pycharm
.idea

# VS Code devcontainer
.devcontainer
