*.code-workspace

# Environment Variables
.env

# Custom builds
build/custom-worker/Dockerfile
build/custom-nginx/Dockerfile
installation/docker-compose-custom.yml

# mounted volume
sites

development
!development/README.md
deploy_key
deploy_key.pub

# Pycharm
.idea
